@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  input[type="date"] {
    max-width: 100%;
    min-width: 0;
  }
}
